@mixin font-styles($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}
