// main colors
$header-bg: linear-gradient(
    315deg,
    rgb(220, 245, 253) 0%,
    rgb(225, 237, 254) 50.52%,
    rgb(214, 255, 233) 100%
);

// global
$white-color: white;
$gray-text: #585858;
$gray-border: #929292;
$black-color: black;
$primary-color: #009581;
$primary-hover-color: #0095818a;

// helpers
$skeleton-background: #e0e0e0;
