// main colors
$header-bg: linear-gradient(
    315deg,
    rgb(220, 245, 253) 0%,
    rgb(225, 237, 254) 50.52%,
    rgb(214, 255, 233) 100%
);

// global
$white-color: white;
$gray-border: #929292;
$black-color: black;
